@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #333;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.bold {
  font-weight: 700;
}

/* button */

.button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  border: none;
  border-radius: 4px;
}

.button--second-color {
  background-color: #82b3d3;
}

.button--select-color {
  background-color: #7db54f;
}

.button--transparent {
  background-color: rgba(130, 179, 211, 0);
}

/* title */

.title {
  color: #000000;
  text-transform: uppercase;
}

.hotels-list .title {
  text-transform: none;
}

.section-header .title {
  font-size: 30px;
  line-height: 120%;
}

.advantages__list .title,
.reasons__list .title,
.hotels-list .title {
  font-size: 24px;
  line-height: 117%;
}

.hotels-filter__title {
  font-size: 60px;
  line-height: 130%;
}

.filters-form__title {
  font-size: 20px;
  line-height: 120%;
}

/* text */

.section-header .text {
  font-size: 22px;
  line-height: 118%;
}

.advantages__list .text,
.reasons__list .text,
.hotels-list .text {
  font-size: 18px;
  line-height: 117%;
}

/* link */

.view-list__link,
.pagination__link{
  text-decoration: none;
}

.breadcrumbs-list__link{
  font-size: 16px;
  line-height: 131%;
  text-decoration: none;
  color: #ffffff;
}

.pagination__link {
  font-size: 20px;
  line-height: 180%;
  color: #ffffff;
  background-color: #82b3d3;
}

.basic-list__link {
  color: #000000;
  text-decoration: none;
}

.pagination__link--active {
  color: #000000;
  background-color: rgba(130, 179, 211, 0);
}

.list {
  list-style-type: none;
}

.navigation {
  font-size: 20px;
  line-height: 120%;
}

.card__rating,
.card__rating-amount {
  font-size: 16px;
  line-height: 125%;
}

.hotels-result__sorting {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 117%;
}

.filter-list__control {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 128%;
}

.range-wrapper__control,
.subscribe__input {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 133%;
}

.search__button,
.subscribe__button {
  font-size: 20px;
  line-height: 180%;
}

.filter-list__control-input {
  font-family: "PT Sans", sans-serif;
}


.footer__telephone {
  font-size: 40px;
  line-height: 100%;
  text-decoration: none;
  color: #000000;
}

.main__promo {
  width: 1200px;
  background-color: #82b3d3;
  background-image: url("../images/index/backgrounds/index-promo-background.jpg");
}

.advantages__item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages__item--second-color {
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages__item--third-color {
  background-color: rgba(131, 179, 211, 0.2);
}

.main__subscribe {
  width: 1200px;
  color: #ffffff;
  background-color: #82b3d3;
  background-image: url("../images/index/backgrounds/index-subscribe-background.jpg");
  background-repeat: no-repeat;
}

.catalog__hotels-filter {
  color: #ffffff;
  background-color: #82b3d3;
  background-image: url("../images/catalog/backgrounds/catalog-filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.pagination__button {
  font-weight: 400;
  color: #000000;
  background-color: rgba(130, 179, 211, 0);
}

.filters-form__group {
  border: none;
}
